* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;  
    margin-left: 30px;
}

.logo-header {
    background-color: #161818;
}

ul {
    list-style-type: none;
    background-color: rgb(50, 50, 143);
    padding-bottom: 8px;
    padding-top: 8px;
}

li {
    display: inline;
    margin-left: 35px;
    color: whitesmoke;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

#p-first {
    background-color: orange;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: whitesmoke;
}

#background-image {
    background-image: url("./assets/bg-image.png");
    margin-top: 20px;
    height: 20vh;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.second {
    margin-top: 20px;
    background-color: whitesmoke;
    /* border-radius: 15px; */
}

.para {
    margin-left: 10px;
    padding-top: 10px;
}

.carousel {
    margin-top: 10px;   
}

.content {
    display: flex;
    flex-wrap: no-wrap;
}

.content img {
    width: 20%;
    margin-left: 35px;
    border-radius: 15px;
    min-width: 100px;
}

figure img {
    margin-top: 25px;
    margin-left: 35px;
    width: 90%;
}

figure figcaption {
    text-align: center;
}

footer section {
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    margin-top: 20px;
}

footer div {
    background-color: #161818;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}



