* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;  
    margin-left: 30px;
}

.logo-header {
    background-color: #161818;
}

ul {
    list-style-type: none;
    background-color: rgb(50, 50, 143);
    padding-bottom: 8px;
    padding-top: 8px;
}

li {
    display: inline;
    margin-left: 35px;
    color: whitesmoke;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

