@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@700&family=Raleway:wght@100;200;300;400;500;700&family=Roboto+Condensed:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

img {
    width: 150px;  
    margin-left: 30px;
}

.logo-header {
    background-color: #161818;
}

ul {
    list-style-type: none;
    background-color: rgb(24, 24, 91);
    padding-bottom: 8px;
    padding-top: 8px;
}

li {
    display: inline;
    margin-left: 35px;
    color: whitesmoke;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

#p-first {
    background-color: rgb(228, 150, 5);
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
}

#background-image {
    background-image: url("./assets/bg-image.png");
    margin-top: 20px;
    height: 20vh;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.second {
    margin-top: 20px;
    background-color: whitesmoke;
    /* border-radius: 15px; */
}

.para {
    margin-left: 10px;
    padding-top: 10px;
}

.carousel {
    margin-top: 10px;   
}

.content {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin-right: 12px;
}

.content img {
    width: 20%;
    margin-left: 35px;
    border-radius: 15px;
    min-width: 100px;
}

figure img {
    margin-top: 25px;
    margin-left: 35px;
    width: 90vw;
}

figure figcaption {
    text-align: center;
}

footer section {
    text-align: center;
    background-color: rgb(24, 24, 91);
    color: whitesmoke;
    margin-top: 20px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    color: whitesmoke;
}

/* footer a:visited {
    color: rgb(118, 9, 118);
} */

footer div {
    background-color: #161818;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}



